{{- range .Values.services }}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .name }}
  labels:
    release: prometheus
    {{- toYaml $.Values.labels | nindent 4 }}
spec:
  endpoints:
  - {{ toYaml $.Values.endpoint | nindent 4 | trim }}
    {{- if .metricRelabelings }}
    metricRelabelings:
    {{- toYaml .metricRelabelings | nindent 4 }}
    {{- end }}
  namespaceSelector:
    matchNames:
    - {{ $.Release.Namespace }}
  selector:
    matchLabels:
      name: {{ .name | quote }}
{{- end }}
