---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Release.Name }}
  labels:
    release: prometheus
    {{- toYaml .Values.labels | nindent 4 }}
spec:
  endpoints:
  {{- range .Values.services }}
  - {{ toYaml $.Values.endpoint | nindent 4 | trim }}
    {{- if .metricRelabelings }}
    metricRelabelings:
    {{- toYaml .metricRelabelings | nindent 4 }}
    {{- end }}
  {{- end }}
  namespaceSelector:
    matchNames:
    - {{ .Release.Namespace }}
  selector:
    matchLabels:
      {{- toYaml .Values.labels | nindent 6 }}
