home-assistant:
  persistence:
    enabled: true
    size: 5Gi
    storageClass: zfs-nvmeof

  ingress:
    enabled: true
    className: nginx-internal
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
      external-dns.alpha.kubernetes.io/hostname: homeassistant.drewburr.com
    hosts:
      - host: homeassistant.drewburr.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - hosts:
          - homeassistant.drewburr.com
        secretName: home-assistant-server-tls

  hostPort:
    enabled: true

  serviceMonitor:
    enabled: true
    scrapeInterval: 60s
    bearerToken:
      secretName: home-assistant-prometheus-token
      secretKey: token
